/.bundle
/public/assets
bundle.js*
# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history
.DS_Store
npm-debug.log

# Ignore application configuration
/config/application.yml
# Ignore master key for decrypting credentials and more.
/config/master.key
