.main-content-videos {
    background-color: #f8f8f8;
    padding-left: 25px;
}

.videos-outer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.videos-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    flex-direction: row;
    /* width: 90%; */
}

.recomended {
    margin: 24px 8px 0;
    font-weight: 600;
    font-size: 18px;
}