.nav-bar {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.logo {
    height: 23px;
    width: 90px;
}

.nav-left {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
}

.nav-left .far {
    font-size: 20px;
}

.nav-right {
    display: flex;
    width: 170px;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.nav-right .fas {
    font-size: 21px;
    align-self: center;
}

.login-link {
    font-size: 16px;
    padding-top: 1px;
}

.login-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86px;
    color: #1c68f6;
    border: 1px solid #3175f4;
    padding: 5px 7px;
    border-radius: 3px;
}

.video-icon {
    padding-top: 3px;
}

.user-logo {
    display: flex;
    justify-content: center;
    color: #fff;
    border-radius: 100px;
    background-color: #3175f4;
    height: 38px;
    width: 38px;
    line-height: 38px;
}