.nav-bar {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 23px;
    width: 90px;
}

.nav-left {
    display: flex;
    width: 130px;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: space-around;
}